[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "gemma2"]
	path = gemma2
	url = https://github.com/fboehm/gemma2
[submodule "qtl2pleio"]
	path = qtl2pleio
	url = https://github.com/fboehm/qtl2pleio
